﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BadBurger.Master" AutoEventWireup="true" CodeBehind="Default.aspx.cs" Inherits="badBurger.Default" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    
    <h1 style="text-align: center">Home</h1>
    <div class="row">
       <%-- Column size 2 Blank --%>
         <div class="col-md-2" style="text-align: left">
        </div>
        <%-- Column Size 8 with Content in Center of Screen --%>
        <div class="col-md-8">
            Nunc viverra massa vitae libero consectetur laoreet. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris varius pulvinar magna, ut fermentum dolor convallis sit amet. Aenean sagittis, odio pellentesque molestie tempus, ipsum lacus bibendum velit, sed commodo nisi risus sed eros. Donec eget metus nec nibh congue porta commodo semper ex. Sed dignissim tempus consectetur. Etiam gravida suscipit fermentum. Aliquam erat volutpat. Nunc vel ante dignissim, congue magna vel, sollicitudin felis. Integer congue sem semper, viverra nisl at, hendrerit nisl. Ut sed pulvinar turpis. Duis euismod, tortor ut viverra tempus, lorem nulla interdum justo, vitae molestie mi tortor sed urna. Ut a justo posuere, pretium lacus in, vulputate sapien.
Vestibulum fringilla pretium libero et pharetra. Integer vel ipsum a dui iaculis facilisis. Morbi nec ornare dolor, et mollis lacus. Etiam at fringilla velit, quis suscipit nibh. Praesent luctus faucibus est, non vehicula augue blandit at. Integer dapibus efficitur elit, et fermentum diam facilisis a. Quisque aliquam velit non lacinia dictum. Curabitur vulputate condimentum dolor ut blandit. Nam eu efficitur velit. Pellentesque at blandit arcu. Pellentesque faucibus fermentum nisi sit amet viverra. Nunc eget nibh eget odio commodo efficitur a eu est. Sed dictum a turpis a ultrices. Vivamus eget tellus neque.
                    Vestibulum fringilla pretium libero et pharetra. Integer vel ipsum a dui iaculis facilisis. Morbi nec ornare dolor, et mollis lacus. Etiam at fringilla velit, quis suscipit nibh. Praesent luctus faucibus est, non vehicula augue blandit at. Integer dapibus efficitur elit, et fermentum diam facilisis a. Quisque aliquam velit non lacinia dictum. Curabitur vulputate condimentum dolor ut blandit. Nam eu efficitur velit. Pellentesque at blandit arcu. Pellentesque faucibus fermentum nisi sit amet viverra. Nunc eget nibh eget odio commodo efficitur a eu est. Sed dictum a turpis a ultrices. Vivamus eget tellus neque.
        </div>
        <%-- Column size 2 Blank --%>
        <div class="col-md-2">
        </div>
    </div>
 
</asp:Content>
