﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Admin.master.cs" Inherits="badBurger.Admin" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">

<head runat="server">
    <title></title>
<link type="text/css" href="Content/bootstrap.css" rel="stylesheet" />
<link type="text/css" href="Content/Override.css" rel="stylesheet" />
<script src="Scripts/jquery-1.9.1.js" type="text/javascript"></script>
<script src="Scripts/bootstrap.js" type="text/javascript"></script>
    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body>
    <form id="form1" runat="server">
        <nav class="navbar navbar-default">
            <div class="container-fluid">
                <div class="navbar-header">
                   
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/Default.aspx">Big Bad Burger</a>
                </div>

                <asp:Menu ID="muTest2" runat="server" Orientation="Horizontal"
                         
                        RenderingMode="List" IncludeStyleBlock="false"
                        StaticMenuStyle-CssClass="nav navbar-nav" 
                        DynamicMenuStyle-CssClass="dropdown-menu" 
                        DynamicSelectedStyle-CssClass="active"
                        StaticSelectedStyle-CssClass="active"></asp:Menu>
            </div>
        </nav>
          <div class="jumbotron">
                        <asp:Image ID="bnImage" runat="server" ImageUrl="~/Images/banner3.jpeg" CssClass="img-responsive" />
              <%--<img src="../Images/banner3.jpeg" class="img-responsive" style="align-content: center" />--%>
                        </div>
         <div>
            <asp:Label ID="lblHome" runat="server" Text="" Font-Size="X-Large" ForeColor="Red"></asp:Label>
            <asp:Button ID="btnLogout" runat="server" Text="Logout" OnClick="btnLogout_Click" />
        </div>

        <div>
            <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
            </asp:ContentPlaceHolder>
            <asp:Panel ID="Panel1" runat="server">
            </asp:Panel>
        </div>

    </form>
        <%-- Footer with ALL RIGHTS RESERVED --%>
       <footer style="color:red"> ALL RIGHTS RESERVED to Mathew E. Holden<br />
        Unauthorized Use of Website will result in $2000 Fine, Jail or Both.
    </footer>
</body>
</html>
