﻿<%@ Page Title="" Language="C#" MasterPageFile="~/BadBurger.Master" AutoEventWireup="true" CodeBehind="Directions.aspx.cs" Inherits="badBurger.Directions" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" runat="server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" runat="server">
    <%-- Content to be Displayed on screen to ensure the use of page is working --%>
    THIS IS MY DIRECTIONS PAGE
   <div class="embed-responsive embed-responsive-16by9">
<iframe style="border:0" src="https://www.google.com/maps/embed/v1/place?key=AIzaSyBl4o1YFk-OtlHHlQyx8h8kH7XvvX8JqvA&q=226+East+Washington+Street,+North+Attleboro,+MA,+United+States"></iframe>
</div>
</asp:Content>
